

@media only screen and (max-width: 1200px) {
    
    .row { padding: 0 1%; }
}


@media only screen and (max-width: 1023px) {
    
    body { font-size: 18px; }
    h2 { font-size: 250%; }

    
    .concert-title img { width: 400px; }
    .concert-title { width: 400px; }
    
    .section-program .col { margin-bottom: 10px; }
    
    /*.section-program .icon-big { display: block; }
    .program-element { display: block; }*/
    
    .icon-big {
        width: 45px;
        height: auto;  
    }

    .tei-box {
        width: 100%;
        padding: 5px 2%;
    }
    
    .tei-box .icon-big {
        margin-top: 0;
    }
}


@media only screen and (max-width: 767px) {
    
    body { font-size: 16px; }
    h2 { font-size: 200%; }
    .row { padding: 0 2%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    header { 
        height: 700px; 
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("img/10-min-900.jpg");
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/10-min-900.jpg");
    }   

    .logo { width: 60px; }
    .concert-title img { width: 350px; }
    .concert-title { width: 350px; }
    
    .header-box {
        width: 350px;
        top: 20%;
    }

    .header-box .btn { width: 250px; }
    
    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }
    
    .main-nav {
        float: left;
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .main-nav li { display: block; }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 5px 0;
        font-size: 85%;
    }
    
    .sticky .mobile-nav-icon {
        margin-top: 7px;
    }

    .sticky .mobile-nav-icon img {
        width: 25px;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        color: #ffae00;
        border: none;
    }

    .sticky .logo { display: none; }
    .sticky .logo-small { display: inline-block; }

        
    /*    Normal main-nav styled for tablet
    
    .main-nav li a:link,
    .main-nav li a:visited {
        font-size: 70%;
        letter-spacing: 0;
        padding: 5px 5px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 5px 5px; }*/
    
    .section-program .btn {
        width: 70%;
        margin: 0 auto;
    }
  
    .icon-video { margin-left: 10px; }    
    
    .program-showcase li { width: 50%; }
    
    .section-place { margin-bottom: 0; }
    
    .tei-box {
        width: 80%;
        margin-left: 9%;
    }
    
    .tei-box:last-child { margin-bottom: 55px; }
    
    .section-price {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("img/9-min-900.jpg");
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/9-min-900.jpg");  
    }
    .section-partners { padding-bottom: 30px; }
    .section-partners h2 { margin-top: 5px; }
    .financial img {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 0;
    }
        
    .partner-logo .logo-big { width: 70px; }
    .partner-logo img {
        width: 45px;
        height: auto;
        margin-top: 10px;
    }


}


@media only screen and (max-width: 480px) {
    
    body { font-size: 15px; }
    h2 { font-size: 180%; }
    
    .row { padding: 0 3%; }
    .icon-big { width: 50px; }
    
    header { height: 500px; } 
    
    .logo { width: 50px; }
    .concert-title { width: 250px; }
    .concert-title img { width: 250px; }
    .header-box { width: 250px; }
    .header-box .btn { width: 210px; }
    
    .section-program .btn {
        width: 75%;        
    }
    
    .icon-video { 
        width: 50px; 
        margin-left: 7px;
    }
    
    .icon-video:hover { width: 48px; }
    
    .program-showcase li { width: 100%; }
    
    .price-box p { padding: 5px 0; }

    .buy-buttons div:first-child { text-align: center; }
    .buy-buttons div:last-child { text-align: center; }
    .financial img {
        width: 80%;
        margin-left: 10%;
    }
    .partner-logo { width: 23%; }
    .partner-logo img { width: 40px; }
    .partner-logo .logo-big { width: 60px; }
    .section-partners .btn {
        width: 210px;
        margin-bottom: 0;
    }
}